@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>The Code for this application <a href="https://github.com/evanhelden/ChefsRegistry/tree/master" target="_blank">can be accessed here</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-6">Welcome to the Chefs Registry</h1>
    <div>
        <img style="width:300px;height:300px" src="~/Images/Shrimp Etouffee.jpg" alt"Shrimp Etouffee" />
        <img style="width:300px;height:300px" src="~/Images/Duck Confit Eric.jpg" alt"Duck Confit" />

    </div>
</div>
