@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site is for displaying my Visual Studio .NET 2022 solution for an employer to see my<br /> 
    architexture and coding practices.  Downloading the code is welcomed.  The code is written<br /> 
    in Visual Studio 2022 with a SQL Server 2022 backend.  There are sql scripts included for<br />
    setting up the database.  Just follow the directions in the read me file in GitHub.<br />
    The GitHub address is located on my resume and a link is on the Home Page.</p>
